@model QuangBaDuLich.Models.Tour

@{
    ViewBag.Title = "EditTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sửa Tour</h2>

@using (Html.BeginForm("EditTour", "QLTour"))
{
    @Html.HiddenFor(n => n.Id)
    <table style="text-align: left; margin: 0 auto;">
        <tr>
            <td>Lịch Trình:</td>
            <td>@Html.EditorFor(model => model.LichTrinh)</td>
        </tr>
        <tr>
            <td>Khởi Hành:</td>
            <td>@Html.EditorFor(model => model.KhoiHanh)</td>
        </tr>
        <tr>
            <td>Giá Thành:</td>
            <td>@Html.EditorFor(model => model.GiaThanh)</td>
        </tr>
        <tr>
            <td>Đường dẫn hình ảnh:</td>
            <td>@Html.EditorFor(model => model.ImagesUrl)</td>
        </tr>
        <tr>
            <td></td>
            <td style="display: flex; justify-content: flex-end;">
                <input type="submit" value="Sửa" style="margin-top: 10px;" />
            </td>
        </tr>
    </table>
}
<a href="/QLTour/ListTour/">Quay Lại Danh Sách Tour</a>
